@media (min-width: 1200px) {
    body {
        padding-top: 60px;
        padding-bottom: 40px;
    }

    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: 100%;
    }
}