<tr>
    <td><a href="{{ path('_issue_edit', {'id': issue.id}) }}">{{ issue.id }}</a></td>
    <td>{{ issue.canal }}</td>
    <td>{{ issue.nom }}</td>
    <td>{{ issue.projet }}</td>                     
    <td>{{ issue.status }}</td>                     
</tr>