<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="{{ path('_home') }}"></a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li{{ is_route('_home') ? ' class="active"' : '' }}><a href="{{ path('_home') }}">Accueil</a></li>
          <li{{ is_route('_issues', true) ? ' class="active"' : '' }}><a href="{{ path('_issues') }}">Réclamation</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>