{% block form %}
{% spaceless %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
    {% if fieldset|default(false) == true %}
    <fieldset>
       <legend>{{ form_legend is defined ? form_legend|trans : '' }}</legend>
       {{ form_widget(form) }}
    </fieldset>
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
    {{ form_end(form) }}
{% endspaceless %}
{% endblock form %}

{% block form_row %}
    <div class="control-group {{ errors|length > 0 ? ' error' : '' }}">
        {{ form_label(form) }}
        <div class="controls">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endblock form_row %}

{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}

        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}

        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{# form_errors.html.twig #}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <span class="help-inline">{{ error.message }}</span>
                {{ loop.last ? '' : '<br />' }}
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
