{% extends "OSCommonBundle::layout.html.twig" %}

{% block content %}
    {% include 'OSCommonBundle:Partials:_topmenu.html.twig' %}

    <div class="container">
        <div class="row-fluid">
            <div class="span12">

            </div>
        </div>
    </div>
{% endblock %}