{% extends "OSCommonBundle::layout.html.twig" %}

{% block content %}
    {% include 'OSCommonBundle:Partials:_topmenu.html.twig' %}

    <div class="container">
        <div class="row-fluid">
            <div class="span12" style="padding: 0 30px;">
                <div class="pull-right" style="padding-bottom: 20px;">
                    <a href="{{ path('_issue_new') }}" class="btn btn-success">Ajouter Réclamation</a>
                </div>

                <table class="table table-bordered">
                    <tr>
                        <th>ID</th>
                        <th>Canal</th>
                        <th>Nom</th>
                        <th>Projet</th>
                        <th>Statut</th>
                    </tr>
                    {% for issue in page %}
                        {% include 'OSCommonBundle:Partials:_issue.html.twig' %}
                    {% endfor %}
                </table>
                {{ pager_pagination(page, 'OSCommonBundle:Pagination:sliding.html.twig')|raw }}
            </div>
        </div>
    </div>
{% endblock %}