{% extends "OSCommonBundle::layout.html.twig" %}

{% form_theme form _self %}

{% block content %}
<div class="container">
    {% include 'OSCommonBundle:Partials:_topmenu.html.twig' %}
    <div style="padding: 0 20px;">
        <h4>Customer Care</h4>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
        <div class="row-fluid">
            <div class="span5 pull-left">
                {{ form_row(form.bien) }}
            </div>
            <div class="span5 pull-left">
                {{ form_row(form.client) }}
            </div>
            <div class="span5 pull-left well well-small">
                <h6>Bien</h6>
                <table class="table table-bordered">
                    <tr>
                        <th>Projet</th>
                        <td id="bien_projet"></td>
                    </tr>
                    <tr>
                        <th>Ville</th>  
                        <td id="bien_ville"></td> 
                    </tr>
                    <tr>
                        <th>Attachements</th>  
                        <td id="bien_attachements"></td>
                    </tr>
                </table>    
            </div>
            <div class="span5 pull-left well well-small">
                <h6>Client</h6>
                <table class="table table-bordered">
                    <tr>
                        <th>ID / CIN</th>  
                        <td id="customer_id"></td> 
                    </tr>
                    <tr>
                        <th>Nom / Prénom</th>  
                        <td id="customer_nom"></td> 
                    </tr>
                    <tr>
                        <th>Adresse</th>  
                        <td id="customer_adresse"></td>
                    </tr>
                    <tr>
                        <th>Tél / Email</th>  
                        <td id="customer_tel"></td>
                    </tr>
                </table>                 
            </div>
        </div>
        <hr />
        <div class="row-fluid">
            <div class="span8 pull-left">
                {{ form_row(form.sujet) }}
                {{ form_row(form.motif) }}
                {{ form_row(form.canal) }}

                {{ form_row(form.nom) }}
                {{ form_row(form.intervenant) }}
                {{ form_row(form.action) }}

                {{ form_row(form.responseDate) }}
                {{ form_row(form.feedback) }}

                <div class="control-group">
                    {{ form_label(form.isreceive) }}
                    <div class="controls">
                        <label class="radio inline">
                            {{ form_widget(form.isreceive[0]) }}

                            {{ form.isreceive[0].vars['label'] }}
                        </label>
                        <label class="radio inline">
                            {{ form_widget(form.isreceive[1]) }}

                            {{ form.isreceive[1].vars['label'] }}
                        </label>
                    </div>
                </div>

                {{ form_row(form.customerResponseDate) }}

                {{ form_row(form.status) }}

                {{ form_row(form.observation) }}
            </div>
        </div>
        <div class="span5 pull-left">{{ form_row(form.add) }}</div>
        {{ form_end(form) }}
        
        <br />
        <a href="{{ path('_issues') }}">Retour à la liste des réclamation</a>
    </div>
</div>
{% endblock %}

{% block myjs %}
{% autoescape false %}
<script type="text/javascript">
var fill_bien = function (json_bien) {
    $('#bien_projet').html(json_bien.projet);
    $('#bien_ville').html(json_bien.ville);
    $('#bien_attachements').html(json_bien.attachements);
}

var productData;
$('#issue_bien').attr('autocomplete', 'off');
$('#issue_bien').typeahead({
        source: function (query, process) {
            $.getJSON(
                "{{ path('_api_product_search') }}",
                { q: query },
                function (data) {
                    var items = [];

                    productData = data;

                    $.each(data, function (i, item) {
                        items.push(item.id.toString() + " - " + item.projet.toString());
                    });

                    process(items)
                });
        },
        matcher: function () { return true; },
        updater: function (param) {
            var id = parseInt(param);
            fill_bien(productData[id]);
            return id;
        }
});

var fill_customer = function (json_customer) {
    $('#customer_nom').html(json_customer.nom + ' / ' + json_customer.prenom);
    $('#customer_id').html(json_customer.id + ' / ' + json_customer.cin);
    $('#customer_tel').html(json_customer.tel + ' / ' + json_customer.email);
    $('#customer_adresse').html(json_customer.adresse);
};

var customerData;
$('#issue_client').attr('autocomplete', 'off');
$('#issue_client').typeahead({
        source: function (query, process) {
            $.getJSON(
                "{{ path('_api_customer_search') }}",
                { q: query },
                function (data) {
                    var items = [];

                    customerData = data;

                    $.each(data, function (i, item) {
                        items.push(item.id.toString() + ' - ' + item.cin.toString());
                    });

                    process(items)
                });
        },
        matcher: function () { return true; },
        updater: function (param) {
            var id = parseInt(param);
            fill_customer(customerData[id]);
            return customerData[id].id.toString();
        }
});
</script>
{% endautoescape %}
{% endblock %}
