<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">

        <!-- Le styles -->
        <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/bootstrap-responsive.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="{{ asset('assets/js/html5shiv.js') }}"></script>
        <![endif]-->
        {% block style '' %}
  </head>
  <body{% block body '' %}>
      {% block content "" %}
      <!-- Le javascript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="{{ asset('assets/js/jquery.js') }}"></script>
      <script src="{{ asset('assets/js/bootstrap-transition.js') }}"></script>
      <script src="{{ asset('assets/js/bootstrap-alert.js') }}"></script>
      <script src="{{ asset('assets/js/bootstrap-modal.js') }}"></script>
      <script src="{{ asset('assets/js/bootstrap-dropdown.js') }}"></script>
      <script src="{{ asset('assets/js/bootstrap-scrollspy.js') }}"></script>
      <script src="{{ asset('assets/js/bootstrap-tab.js') }}"></script>
      <script src="{{ asset('assets/js/bootstrap-tooltip.js') }}"></script>
      <script src="{{ asset('assets/js/bootstrap-popover.js') }}"></script>
      <script src="{{ asset('assets/js/bootstrap-button.js') }}"></script>
      <script src="{{ asset('assets/js/bootstrap-collapse.js') }}"></script>
      <script src="{{ asset('assets/js/bootstrap-carousel.js') }}"></script>
      <script src="{{ asset('assets/js/bootstrap-typeahead.js') }}"></script>

      {% block myjs '' %}
  </body>
</html>
